
.event-index-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8FA;
}

.event-index-container {
  display: flex;
  flex-flow: row wrap;
  width: 1080px;
}

