.event-index-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8FA;
}

.event-index-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1080px;
}

.event-index-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  max-height: 313.5px;
  width: 33%;
  padding: 15px;

  .event-index-image {
    max-height: 165px;
    object-fit: cover;
  }

  .event-index-details {

    height: 105.5px;
    padding: 5px 15px;
    .event-date {
      text-overflow: ellipsis;
      color: #45494E;
      font-size: 12px;
      font-weight: 400;
      display: block;
      padding: 5px 0 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 18px;
      height: 2em;
    }

    .event-title {
      text-overflow: ellipsis;
      color: #282C35;
      font-size: 15px;
      line-height: 19px;
      max-height: 2.5em;
      font-weight: 600;
      letter-spacing: 0;
      height: 2.5em;
      text-transform: capitalize;
    }

    .event-location {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #666A73;
      font-size: 12px;
      line-height: 18px;
      height: 2em;
      padding: 5px 0 0;
      text-transform: capitalize;
    }
    
  }

  .event-index-footer {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EFF2F5;
    border-bottom: 1px solid #EFF2F5;
    height: 43px;
    padding-left: 15px;

    .event-category {
      color: #45494E;
      font-size: 12px;
      margin-right: 10px;
      text-transform: capitalize;
    }

    .bookmark-icon {
      padding: 0 10px;

    }
  }
}

.event-index-inner-wrapper {
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
   font-family: Benton Sans,
   -apple-system,
   BlinkMacSystemFont,
   Roboto,
   Helvetica Neue,
   Helvetica,
   Tahoma,
   Arial,
   sans-serif;
}


.event-index-inner-wrapper:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  // text-decoration: none;
}

.event-index-footer .event-category:hover { 
  color: #0093D7;
}

.event-index-footer .bookmark-icon:hover {
  color: #0093D7;
}


