

// .session-buttons button {
//   margin: 10px;
// }

nav div {
  margin: 10px;
}

nav.navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.session-buttons {
    display: flex;
}